body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;
    min-width: 60rem;
    background-color: #121212;
    color: #e0e0e0;
    scrollbar-color: #656565 #373737;
    font-size: 1rem;
}

header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 0 5rem;
}

.page-header {
    background-color: #2e2e2e;
    color: #e0e0e0;
    padding: 0.5rem;
    justify-content: center;
    height: 1.25rem;
    display: flex;
    gap: 1rem;
    align-items: end;
    flex-direction: row;
}

.page-header a {
    color: #96c8fb;
    text-decoration: none;
    font-weight: normal;
}

.page-header h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}

.container {
    display: grid;
    grid-template-columns: 30rem auto;
    flex-grow: 1;
    overflow: hidden;
}

.config-sidebar {
    background-color: #272727;
    padding: 1rem;
    height: calc(100vh - 2.5rem);
    overflow-y: auto;
    border-right: 1px solid #333;
}

.config-sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.config-sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.config-sidebar nav li {
    margin-bottom: 0.5rem;
}

.config-sidebar nav a {
    text-decoration: none;
    color: #ccc;
    display: block;
    padding: 0.3125rem 0;
}

.config-sidebar nav a:hover {
    background-color: #333;
}

.preview-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 1rem;
    padding: 1.25rem;
    padding-right: 2.75rem;
    height: calc(100vh - 2.5rem);
    background-color: #1e1e1e;
    position: relative;
}

.preview-window {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.preview-window::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.preview-canvas {
    border: 1px solid #444;
    /*max-width: 80rem;*/
    height: auto;
}

.draggable-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.draggable-item {
    background-color: #333;
    border: 0.0625rem solid #444;
    padding: 0.625rem;
    margin-bottom: 0.3125rem;
    user-select: none;
    color: #ccc;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.drag-handle {
    cursor: grab;
    margin-right: 0.625rem;
    display: inline-block; /* To align with the text */
    vertical-align: middle; /* To vertically align with the text */
    font-size: 1rem;
    border-radius: 0.325rem;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 0.3125rem; /* Add some space between rows */
}

.row span {
    display: flex;
    gap: 0.5rem;
}

.row input[type="text"],
.row input[type="number"] {
    padding: 0.3125rem;
    border: 0.0625rem solid #555;
    background-color: #444;
    color: #ccc;
    border-radius: 0.125rem;
}

.row input[type="number"] {
    width: 4rem; /* Adjust width as needed */
}

input[type="number"] {
    padding: 0.3125rem;
    border: 0.0625rem solid #555;
    background-color: #444;
    color: #ccc;
    border-radius: 0.125rem;
}


.dragging {
    opacity: 0.5;
}

.filament-add-button {
    margin-bottom: 0.625rem;
    cursor: pointer;
    padding: 0.3125rem 0.625rem;
    background-color: #444;
    color: #ccc;
    border: none;
}

#add-item-button {
}

h2 {
    margin: 1rem 0;
    color: #ccc;
}

h3 {
    margin: 0.5rem 0;
    color: #ccc;
}

.inline-div {
    display: flex;
    gap: 1rem;
}

.input-number {
    width: 4rem;
    background-color: #444; /* Lighter background for text boxes */
    color: #ccc;
    border: 1px solid #555; /* Lighter border */
}

input, select, textarea {
    background-color: #444; /* Lighter background for text boxes */
    color: #ccc;
    border: 1px solid #555; /* Lighter border */
}

select option {
    background-color: #333;
    color: #ccc;
}

.resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 100%;
    background: #555;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-weight: lighter;
    font-size: 1rem;
    writing-mode: vertical-rl; /* Rotate text */
    text-orientation: mixed; /* Ensure proper orientation */
    border-radius: 0.625rem;
}

.resize-handle:active {
    cursor: grabbing;
}

button {
    background-color: rgba(143, 143, 143, 0.49); /* Dark background with blue tint */
    color: #e1e1e1; /* Soft blue text */
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.15s, color 0.15s;
    font-size: 1rem;
}

button:hover {
    background-color: #6c6c6c; /* Darker blue on hover */
    color: #e6e6e6; /* Lighter blue on hover */
}

button:active {
    background-color: #404040; /* Darker blue on hover */
    color: #b1b1b1; /* Lighter blue on hover */
}

.image-input {
    background-color: #333; /* Dark background color */
    color: #eee; /* Light text color */
    border: 1px solid #555; /* Darker border */
    padding: 8px 12px; /* Add some padding for better spacing */
    border-radius: 4px; /* Optional: Rounded corners */
    cursor: pointer; /* Indicate it's clickable */
}

/* Optional: Style the hover state */
.image-input:hover {
    background-color: #444;
    border-color: #666;
}

/* Optional: Style the focus state */
.image-input:focus {
    outline: none; /* Remove default focus outline */
    border-color: #777; /* Slightly lighter border on focus */
    box-shadow: 0 0 5px rgba(119, 119, 119, 0.5); /* Optional: Add a subtle focus shadow */
}

input {
    font-size: 1rem;
}

input[type="file"]::file-selector-button {
    background-color: #595959; /* Dark background for the button */
    color: #eee; /* Light text color */
    border: 1px solid #555; /* Darker border */
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
    background-color: #444;
    border-color: #666;
}

input[type="file"]::file-selector-button:focus {
    outline: none;
    border-color: #777;
    box-shadow: 0 0 5px rgba(119, 119, 119, 0.5);
}

.filament-list-item {
    background-color: #333;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
    border-radius: 0.625rem;
}

.h-divider {
    width: 100%;
    height: 2px;
    background-color: #9e9e9e;
}

.h-gap {
    width: 1rem;
}

.h-gap-small {
    width: 0.6rem;
}

input[type="range"] {
    cursor: pointer;
}

.import-option-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
}

select {
    font-size: 0.9rem;
    padding: 0.3rem;
    border-radius: 0.225rem;
}

button:disabled,
button[disabled]{
    background-color: #333;
    color: #ccc;
}

button:disabled,
button[disabled]:hover{
    background-color: #333;
    color: #ccc;
}

button:disabled,
button[disabled]:active{
    background-color: #333;
    color: #ccc;
}

textarea {
    font-family: serif;
    font-size: 0.9rem;
}

#buy-commercial {
    background-color: #396042;
}